[Unit]
Description=Pihole for a better DNS experience
Wants=network-online.target
After=network-online.target

[Container]
AddCapability=NET_ADMIN
AutoUpdate=registry
HostName=pi.hole
DNS=127.0.0.1
DNS=1.1.1.1
PublishPort=127.0.0.1:53:53/tcp
PublishPort=127.0.0.1:53:53/udp
PublishPort=5380:80
Network=internal.network
Volume=pihole.volume:/etc/pihole:z
Volume=pihole-dnsmasq.volume:/etc/dnsmasq.d:z
EnvironmentFile=/etc/containers/systemd/pihole/pihole.env
Image=docker.io/pihole/pihole:latest
UIDMap=0:1000:1
UIDMap=1:524288:65536
GIDMap=0:1000:1
GIDMap=1:524288:65536

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
