[Unit]
Description=uCore autorebase to OCI signed image and reboot
ConditionPathExists=!/etc/ucore/%N.stamp
ConditionPathExists=/etc/ucore/ucore-autorebase.stamp
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
StandardOutput=journal+console
RemainAfterExit=yes
ExecStartPre=/usr/bin/echo "Rebasing to uCore OCI signed image"
ExecStartPre=/usr/bin/sleep 5
ExecStart=/usr/bin/rpm-ostree rebase ostree-image-signed:docker://ghcr.io/ublue-os/ucore-hci:stable-zfs
ExecStartPost=/usr/bin/touch /etc/ucore/%N.stamp
ExecStartPost=/usr/bin/systemctl reboot

[Install]
WantedBy=multi-user.target