[Unit]
Description=Build incus container after first Boot
ConditionPathExists=!/etc/ucore/%N.stamp
ConditionPathExists=/etc/ucore/ucore-enroll-mok.stamp
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl start build-incus.service
ExecStartPost=/usr/bin/touch /etc/ucore/%N.stamp
ExecStartPost=/usr/bin/systemctl start incus.service
ExecStartPost=/usr/bin/sleep 5
ExecStartPost=/usr/bin/systemctl start init-incus.service

[Install]
WantedBy=multi-user.target